@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

.perspective{
perspective:400px;
perspective-origin: 85% 65%;
}
.hero-img{
  transform:rotateY(35deg);
}
.rev-hero-img{
  transform:rotateY(-25deg);
}
.home-about-bg {
  background-image: url('https://img.freepik.com/free-photo/smiley-coworkers-office-conversing_23-2148908793.jpg?t=st=1724616945~exp=1724620545~hmac=2da8a630dce355f95961a70c8e8a95e3bf348c16b01c255e73f418213db9ff6e&w=900');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}